<div style="margin: auto; display: flex;">
  <div style="width: 100%; height: 100vh">
    <gojs-diagram
      [initDiagram]='initDiagram'
      [nodeDataArray]='data.nodeDataArray'
      [linkDataArray]='data.linkDataArray'
      (modelChange)='diagramModelChange($event)'
      [divClassName]='diagramDivClassName'
    >
    </gojs-diagram>
  </div>
  <div style="width: 30%; height: 50vh; background-color: #eee; padding: 24px;">
    <h2>Config</h2>

    <label *ngIf="dataConfig?.data">content</label>
    <input *ngIf="dataConfig?.data" [(ngModel)]="content"/>

    <p>{{configDiagramService.data | async | json}}</p>
    <div>
      <button  *ngIf="dataConfig?.data" (click)="onSave()">Save</button>
      <button  (click)="onExport()">Export</button>
    </div>
  </div>
</div>
